
body {
    margin: 0;
    background: white;
   /* height: 100vh;
    width: 100vw;*/
}
canvas {
    margin: auto;
}
h1{
    font-size: 5vmin;
}
.hide{
    display: none;
}
.btn-icon{
    line-height: 0;
}
.fas{
    font-size: 4vmin;
}
#ui{
    position: absolute;
    color: white;
    text-shadow: -0.1vmin 0 black, 0 0.1vmin black, 0.1vmin 0 black, 0 -0.1vmin black;
    font-size: 3vmin;
    width: 100%;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    touch-action: none;
}
.luts-header{
    width: 100%;
    background: linear-gradient(0,cadetblue,darkcyan);
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 1vmin;
    margin: 1vmin;
    font-size: 2vmin;
    border-radius: 1vmin;
    border-color: white!important;
}
.progress{
    height: 0.3rem;
}
.btn:hover:not([disabled]){
    transform: scale(1.1);
}
.btn:active:not([disabled]){
    transform: scale(0.9);
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-footer {
    justify-content: space-around;
}

.modal-container {
    width: 90%;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    background: linear-gradient(0,cadetblue,darkcyan);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: darkcyan;
}

.popup{
    width: 50%;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    background: rgba(255,255,255,0.1);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scroll: touch;
    max-height: 64vh;
}

.text-right {
    text-align: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-primary{
    background-color: cadetblue!important;
}
.container{
    padding-right: 1vmin;
    padding-left: 1vmin;
}
#turn{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:white;
    display:none;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-family: Verdana monospace;
    color: slategray;
}
#savePrompt{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
#promptWindow{
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 25%;
}
#save{
    resize: none;
    width: 100%;
    height: 40vh;
    font-size: 2vmin;
}
#load{
    resize: none;
    width: 100%;
    height: 40vh;
    font-size: 2vmin;
}
#gameDiv{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'regular';
    src: url('../assets/fonts/robotomono-thin-webfont.woff2') format('woff2'),
    url('../assets/fonts/robotomono-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'text';
    src: url('../assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}