.progress-bar{
    background-color: #303030;
    transition: width .3s ease;
}
.levelable{
    height: 2.8vh;
    margin-bottom: 0.5vh;
    box-shadow: 0 0.1vh 5px black;
}
#ui{
    color: #eee;
    background-color: #303030;
}
body{
    background-color: #303030;
}
.goodQuality{
    color: #85b48d;
}
.okQuality{
    color: #b0b485;
}
.skills{
    overflow-y: auto;
    overflow-x: hidden;
    height: 61vh;
    padding: 15px;
    margin: -15px;
    margin-bottom: 0;
    margin-top: 0;
}
.shop-content{
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    padding: 15px;
    margin: -15px;
    margin-bottom: 0;
    margin-top: 0;
}
.badQuality{
    color: #ee7878;
}
.task-content{
    flex: 1 0 auto;
}
.hidden{
    display: none!important;
}
.margin-auto{
    margin-right: auto;
    margin-left: auto;
}
.luts-header{
    background: linear-gradient(0,#303030,#424242);
}
.btn-primary{
    color: #ddd;
}
.btn.disabled, .btn:disabled{
    opacity: 0.25;
}
.card{
    background-color: #555;
    height: 100%;
    justify-content: space-between;
}
.skill-row{
    margin-bottom: 1vh;
}
.modal-container{
    background: linear-gradient(0,#303030,#424242);
    border: #aaa ridge 0.5vmin;
}
.progress-text{
    text-shadow: 0 0 0;
    color: #555;
}
.tabs-main{
    overflow-x: auto;
}
.progress{
    background-color: #aaa;
}
.fade-enter-active, .fade-leave-active {
    transition: all 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
body{
    overflow-y: hidden;
}
.progress-bar.feature{
    background-color: #6691BB;
}
.card.feature{
    background-color: #5681AB;
}

.progress-bar.bug{
    background-color: #807EB1;
}
.card.bug{
    background-color: #706EA1;
}

.progress-bar.idea{
    background-color: #5DA1B9;
}
.card.idea{
    background-color: #4D91A9;
}

.progress-bar.public{
    background-color: #986897;
}
.card.public{
    background-color: #885887;
}
.progress-bar.research{
    background-color: #579361;
}
.card.research{
    background-color: #598861;
}
.progress-text{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.6vh;
}
.task-button{
    width: 15vh;
}
#gamesChart{
    text-shadow: initial;
}
.table-scroll{
    height: 41vh;
    overflow-y: auto;
}
th{
    text-align: center;
}
#gamesChart {
    margin: 0 auto;
    height: 45vh;
}
.modebar{
    display: none !important;
}
*{
    transition: opacity .3s ease;
}
.btn{
    box-shadow: inset 0 0.1vh 0.5vh white, inset 0 -0.1vh 0.5vh black;
    padding-bottom: 0.8vh;
    min-width: 4vh;
}
.btn:hover:not([disabled]){
    box-shadow: inset 0 0.1vh 0.5vh white, inset 0 -0.1vh 0.5vh black, 0 0 1vmin white;
}

.btn:active:not([disabled]){
    transform: initial;
    box-shadow: inset 0 0.1vh 0.5vh black, inset 0 -0.1vh 0.5vh white;
    padding-top: 0.6vh;
    padding-bottom: 0.7vh;
}
.close:active:not([disabled]){
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: inset 0 0.1vh 0.5vh black, inset 0 -0.1vh 0.5vh white;
}
.btn.focus, .btn:focus, .btn-primary.focus, .btn-primary:focus{
    box-shadow: inset 0 0.1vh 0.5vh white, inset 0 -0.1vh 0.5vh black;
}
::-webkit-scrollbar {
    width: 0.4vh;
    height: 0.4vh;
}
@media (min-width: 576px) {
    .dailyreward-col {
        flex: 0 0 14.28%;
        max-width: 14.28%;
    }
}
.dailyreward-col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.transparent{
    opacity: 0.1;
}
.crazygames {
    background-image: url("../assets/img/crazygames.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 19vh;
}